#readerBtn, #writerBtn {
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

#readerBtn:hover, #writerBtn:hover, #backBtn:hover {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}

#backBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;  
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

#notes {
    margin-top: 20px;
    display: static;
    flex-direction: column;
    background-color: #E8DDB5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
}

#removeButton, #addButton {
    display: block;
    margin-top: 10px;
    background-color: #666A86;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#addButton {
    margin-top: 20px;
}

#removeButton:hover, #addButton:hover {
    background-color: #4B4E6D;
}
